h1 {
  text-transform: capitalize;
}

.Search {
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.Search input[type="search"] {
  color: aquamarine;
}

.Weather {
  text-align: center;
}

.Weather p {
  text-align: left;
}

.Weather li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
